@charset 'UTF-8';

/* Arrows */
.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%; 
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	transition:ease 0.3s all;
	-webkit-transition:ease 0.3s all;
	-ms-transition:ease 0.3s all;
	-moz-transition:ease 0.3s all;
	-o-transition:ease 0.3s all;
	outline:none;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: .25;
}
.slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	left: 0px;
}
/*
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}
*/
.slick-next {
	right: 0px;
}
/*[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}*/
.slider-nav-triangle .slick-prev {
	display: none;
}
.slider-nav-triangle .slick-next {
	background: url(../images/slider-arrow-blue.png) no-repeat;
	height: 26px;
	width: 26px;
	top: auto;
	right: 25px;
	bottom: -25px;
}
.clientlogoslider .slick-prev, .clientlogoslider .slick-next {
	background: url(../images/clientsliderarrow.png) no-repeat;
	height: 12px;
	width: 16px;
}
.clientlogoslider .slick-prev {
	background-position:0px 0px;
	z-index:2;
	left:95px;
}
.clientlogoslider .slick-prev:hover {
	background-position:-18px 0px;
}
.clientlogoslider .slick-next {
	background-position:0px -13px;
	right:95px;
}

.clientlogoslider .slick-next:hover {
	background-position:-18px -13px;
}
/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}
.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;

	border-radius:50%;
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius:50%;
	content: '';
	background: #000;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {

	color: black;
	background: blue;
}
.slider-nav-triangle .slick-dots li {
	width: 10px;
	height: 10px;

}
.slider-nav-triangle .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 10px;
	height: 10px;
}
.slider-nav-triangle .slick-dots li button:before {
	background: #797979;
}
.slider-nav-triangle .slick-dots li.slick-active button:before {
	background: #2194d7;

}
.about-nav-triangle .slick-dots li {
	width: 10px;
	height: 10px;

}
.about-nav-triangle .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 10px;
	height: 10px;
}
.about-nav-triangle .slick-dots li button:before {
	background: #797979;
}
.about-nav-triangle .slick-dots li.slick-active button:before {
	background: #2194d7;

}
@media only screen and (max-width:1440px) {
.clientlogoslider .slick-prev{
	left:130px;
	}

.clientlogoslider .slick-next{
	right:130px;
	}


	}
@media only screen and (max-width:1170px) {
.clientlogoslider .slick-prev{
	left:50px;
	}

.clientlogoslider .slick-next{
	right:50px;
	}


	}


@media only screen and (max-width:599px) {
.clientlogoslider .slick-prev{
	left:20px;
	}

.clientlogoslider .slick-next{
	right:20px;
	}


	}
